<!DOCTYPE html>
<html>
  <title>Jinja Error Example</title>
  <meta name="description" content="An example of a Jinja Error with Django Debug Toolbar">
  <meta name="author" content="Tom Hamilton Stubber">

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
